body{
    background-color: rgb(93, 60, 116);
}

h1{
    color: aliceblue;
    font-size: 250%;
    padding: 0px 60px;
    font-style: oblique;
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left: 55%;
  
}
h2{
    font-size: 95%;
}
video{
    grid-row: 1;
    grid-column: 1/2;
}

ul {

    font-size: 80%;
    font-style:oblique ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative; 
    justify-content: space-around;
    list-style-type: none;

}


li:hover a {
   border-radius: 5%;
   background-color:  rgb(97, 20, 104);
   position: relative;
   
}


a{
    display: block; /* Hace que el área del clic cubra el li */
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif ;
    font-size: 150%;
}
h2 {
    color: rgb(237, 239, 240);
    font-size: 50px;
    font-family: sans-serif ;
    text-align: center;
}
.fixed2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;

}

input{
    border: 1px  solid rgb(70, 5, 107);
    border-radius: 4px;
 }
 .formulario{
    background-color: rgb(233, 231, 233);
    padding: 5% ;
    margin: 5% 5%;
    border: 1px solid rgb(219, 213, 223);
    font-family: Arial, Helvetica, sans-serif;
 }

 input[type=motivo]{
    border-radius: 4px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
 }
 button{
    color: rgb(1, 14, 22);
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 3px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(40, 155, 221);
    border-radius: 4px;
    border: 1px solid rgb(93, 60, 116);
    margin: 6%;
    padding: 1%;
 }
 label{
    margin: 2%;
    padding-left: 4%;
 }

    
 .imagen_facebook{
    width: 4%;
  
}
.footer{
    display: flexbox;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
    padding: auto;
    background-color: black;
    position: relative;
    margin-bottom: 5%;

}
.correo2{
 position: absolute;
 margin-right: 10px;
 align-items: center;
 display: flex;
 padding-right:5%;
 right: 0;
 margin-left: 10px;
}
.facebook{
    position: absolute;
    margin-left: 10px;
    align-items: center;
    display: flex;
}
.texto_facebook{
    text-align: center;
    margin-top: 15px;
}
.imagen_logo{
    width: 4%;
  
}
.aviso_copyrigth{
    position: relative;
    text-align: center;
    flex-grow: 1;
    font-size: 14px;
}
.imagen_correo{
    width: 5%;
}
.texto_correo{
 margin-left: 10px;
}

