body{
    background-color:  rgb(93, 60, 116);
    }
    .titulo{
        text-align: center;
        color: aliceblue;
        font-style:oblique ;
        display: grid;
        grid-row: 1;
        grid-column: 1/2;
        position: relative;
        padding-left: 52%;
        font-size: 355%;
    
    
    }

    h2 {
    
        font-size: 80%;
        text-align: left;
        border-radius: 5%;
        background-color:  rgb(10, 1, 46);
        margin: 5%;
        opacity: 1;
        grid-row: 1/1;
        grid-column: 1/1;
        color: rgb(247, 239, 244);
        font-family: cursive;
        display: grid;
        overflow: hidden;
        position: relative;
        letter-spacing: 3px;
        padding: 20% 20%;
        
    }



    ul {

        font-size: 110%;
        font-style:oblique ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: relative; 
        justify-content: space-around;
        list-style-type: none;

    }

    
    li:hover a {
       border-radius: 5%;
       background-color:  rgb(97, 20, 104);
       position: relative;
       
    }

    a{
         text-decoration: none; /* Elimina el subrayado de los enlaces */
         color: aliceblue; /* Color del texto */
         padding: 10px 15px; /* Espaciado interno para el área del clic */
         display: block; /* Hace que el área del clic cubra el li */
         transition: background-color 0.3s ease; /* Transición suave */
       
    }

    .fixed{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr  ;
        
    }
    
   #video{
    width: 150%;
    margin: 10% ;
    border-radius: 30px;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
   }

    #audio{
     display: none;
    }

    
    .imagen_facebook{
        width: 4%;
      
    }
    .footer{
        display: flexbox;
        justify-content: space-between;
        color: aliceblue;
        align-items: center;
        padding: auto;
        background-color: black;
        position: relative;
        margin-bottom: 5%;
    
    }
    .correo{
     position: absolute;
     margin-right: 10px;
     align-items: center;
     display: flex;
     padding-right:5%;
     right: 0;
     margin-left: 10px;
    }
    .facebook{
        position: absolute;
        margin-left: 10px;
        align-items: center;
        display: flex;
    }
    .texto_facebook{
        text-align: center;
        margin-top: 15px;
    }
    .imagen_logo{
        width: 4%;
      
    }
    .aviso_copyrigth{
        position: relative;
        text-align: center;
        flex-grow: 1;
        font-size: 14px;
    }
    .imagen_correo{
        width: 5%;
    }
    .texto_correo{
     margin-left: 10px;
    }
  


    
    
   
    

    